<div class="pagination">
    <!-----------------------------------------------------------------------------------------------------------------------
    #  이전 페이지 버튼
    ------------------------------------------------------------------------------------------------------------------------>
    {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="pagination_button pagination_move_button">&lt;</a>
    {% else %}
        <span class="pagination_button_disable pagination_move_button">&lt;</span>
    {% endif %}

    <!-----------------------------------------------------------------------------------------------------------------------
    #  1 페이지 버튼
    ------------------------------------------------------------------------------------------------------------------------>
    {% if paginator.page == 1%}
        <span class="pagination_button_select">1</span>
    {% else %}
        <a href="/tech/"><span class="pagination_button">1</span></a>
    {% endif %}

    <!-----------------------------------------------------------------------------------------------------------------------
    #  현재 페이지보다 더 적은 페이지들 (왼쪽에 위치한 페이지들) 인덱스 가져오기
    ------------------------------------------------------------------------------------------------------------------------>
    {% assign left_min = paginator.page | minus : 4 %}
    {% assign left_max = paginator.page | minus : 1 %}
    
    <!-----------------------------------------------------------------------------------------------------------------------
    #  1 페이지와 거리가 벌어질 경우, ... 처리
    ------------------------------------------------------------------------------------------------------------------------>
    {% if left_min > 2 %}
    <span class="pagination_skip">...</span>
    {% endif %}
    
    <!-----------------------------------------------------------------------------------------------------------------------
    #  현재 페이지보다 더 적은 페이지들 출력하기
    ------------------------------------------------------------------------------------------------------------------------>
    {% for i in (left_min..left_max) %}
        {% if i >= 2 %}
            <a href="/tech/page{{i}}"><span class="pagination_button">{{i}}</span></a>
        {% endif %}
    {% endfor %}

    <!-----------------------------------------------------------------------------------------------------------------------
    #  현재 페이지 출력하기
    ------------------------------------------------------------------------------------------------------------------------>
    {% if paginator.page != 1 and paginator.page != paginator.total_pages%}
        <a href="/tech/page{{paginator.page}}"><span class="pagination_button_select">{{paginator.page}}</span></a>
    {% endif %}

    <!-----------------------------------------------------------------------------------------------------------------------
    #  현재 페이지보다 더 큰 페이지들 (오른쪽에 위치한 페이지들) 인덱스 가져오기
    ------------------------------------------------------------------------------------------------------------------------>
    {% assign right_min = paginator.page | plus : 1 %}
    {% assign right_max = paginator.page | plus : 4 %}
    {% assign right_threshold = paginator.total_pages | minus : 1 %}

    <!-----------------------------------------------------------------------------------------------------------------------
    #  현재 페이지보다 더 큰 페이지들 출력하기
    ------------------------------------------------------------------------------------------------------------------------>
    {% for i in (right_min..right_max) %}
        {% if i < paginator.total_pages %}
            <a href="/tech/page{{i}}"><span class="pagination_button">{{i}}</span></a>
        {% endif %}
    {% endfor %}

    <!-----------------------------------------------------------------------------------------------------------------------
    #  마지막 페이지와 거리가 벌어질 경우, ... 처리
    ------------------------------------------------------------------------------------------------------------------------>
    {% if right_max < right_threshold %}
        <span class="pagination_skip">...</span>
    {% endif %}

    <!-----------------------------------------------------------------------------------------------------------------------
    #  마지막 페이지 버튼
    ------------------------------------------------------------------------------------------------------------------------>
    {% if paginator.page == paginator.total_pages %}
        <span class="pagination_button_select">{{paginator.total_pages}}</span>
    {% else %}
        <a href="/tech/page{{paginator.total_pages}}"><span class="pagination_button">{{paginator.total_pages}}</span></a>
    {% endif %}

    <!-----------------------------------------------------------------------------------------------------------------------
    #  다음 페이지 버튼
    ------------------------------------------------------------------------------------------------------------------------>
    {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="pagination_button pagination_move_button">&gt;</a>
    {% else %}
        <span class="pagination_button_disable pagination_move_button">&gt;</span>
    {% endif %}

</div>